.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--space-4);
}

@media (min-width: 640px) {
  .container {
    padding-inline: var(--space-6);
  }
}

.sm {
  max-width: 32rem;
}

.md {
  max-width: 48rem;
}

.lg {
  max-width: var(--container-max-width);
}

.full {
  max-width: none;
}
