.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: block;
  border-radius: 50%;
  border: 2px solid currentColor;
  border-top-color: transparent;
  animation: spin 0.8s linear infinite;
}

.sm .inner {
  width: 1rem;
  height: 1rem;
}

.md .inner {
  width: 1.5rem;
  height: 1.5rem;
}

.lg .inner {
  width: 2.5rem;
  height: 2.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
